body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.layout {
  padding: 0px 40px;
}

.search-box {
  margin: 20px 0px;
  width: 100%;
  display: flex;
}

.search-box button {
  margin-left: 8px;
  width: 100px;
  background-color: palevioletred;
  border: none;
  color: white;
  cursor: pointer;
}

.search-box input {
  width: 100%;
  height: 30px;
  font-size: 14pt;
  padding: 12px;
}

.invalid {
  border-color: red;
}

.list-gif {
  display: flex;
}

.list-gif div {
  margin-right: 10px;
}

.box-gif {
  width: 300px;
}

.title {
  font-size: 16pt;
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .layout {
    width: 1200px;
    margin: 0 auto;
  }
}
